<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.ac.tukorea.foodmap" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FoodMap" >
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".DetailPostActivity"
            android:exported="false" />
        <activity
            android:name=".SearchLocationActivity"
            android:exported="false" />
        <activity
            android:name=".WritePostActivity"
            android:exported="false" />
        <activity
            android:name=".TabMapActivity"
            android:exported="false" />
        <activity
            android:name=".TabListActivity"
            android:exported="false" />
        <activity
            android:name=".TabSettingActivity"
            android:exported="false" />

        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="CLIENT_ID" />

        <activity
            android:name=".SplashActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>